#
# for MSYS2
# vim: set ft=sh :
#
alias minttyR='mintty -c ~/etc/mintty/red'
alias minttyB='mintty -c ~/etc/mintty/blue'
alias minttyG='mintty -c ~/etc/mintty/green'
alias minttyY='mintty -c ~/etc/mintty/yellow'
alias minttyP='mintty -c ~/etc/mintty/pink'
