[user]
    name = pen
    email = iamapen@studiopoppy.com
[alias]
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %C(cyan)%cn %C(yellow)%d %Creset%s'
    sgraph = log --graph --abbrev-commit --pretty=oneline
    #vimdiff = difftool --tool=vimdiff --no-prompt
    co = checkout
    stat = status
    st = status
    di = diff
    diw = diff --word-diff
    diq = diff --name-only
    sdi = diff --staged
    sdiw = diff --staged --word-diff
    sdiq = diff --staged --name-only
[core]
    editor = vim
#    pager = lv -c
    pager = LESS=-R less --no-init
    filemode = true
    autocrlf = false
    excludesfile = ~/.gitignore
    quotepath = false
    ignorecase = false
[color]
    ui = auto
[color "status"]
    added = green
    changed = yellow
    untracked = magenta
#[color "decorate"]
#    branch = magenta
#    remoteBranch = magenta
#    tag = magenta
#    stash = magenta
